/* Teemat */
body.theme-light {
  background-color: #fef5e7;
}

body.theme-blue {
  background: linear-gradient(#cce5ff, #e6f0ff);
}

body.theme-forest {
  background-image: url('forest.jpg');
  background-size: cover;
  background-position: center;
}

body.theme-space {
  background-image: url('space.jpg');
  background-size: cover;
  background-position: center;
}

/* Avatar, nimi, jakonappula */
#userName, #avatar, #themeSelect {
  font-size: 1.1rem;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#shareButton {
  margin-top: 10px;
  background-color: #aed6f1;
  color: #154360;
}
